#!/bin/bash

sudo mount /mnt/Backup

rsync -Aavx --progress --delete /home/{{ main_username }}/hangoutsbot/hangupsbot/plugins/ /mnt/Backup/plugins
rsync -Aavx --progress --delete /home/{{ main_username }}/.local/share/hangupsbot/ /mnt/Backup/local