#!/bin/bash

sudo mount /mnt/Backup

yesterday=$(date -d "$date -1 days" +"%Y_%m_%d")
mv /mnt/Backup/hass_docker.tar.gz /mnt/Backup/hass_docker_$yesterday.tar.gz
mv /mnt/Backup/hass_docker_beta.tar.gz /mnt/Backup/hass_docker_beta_$yesterday.tar.gz
mv /mnt/Backup/docker.tar.gz /mnt/Backup/docker_$yesterday.tar.gz

sudo tar -cvf /mnt/Backup/hass_docker.tar.gz -C /home/{{ main_username }}/ hass_docker
sudo tar -cvf /mnt/Backup/hass_docker_beta.tar.gz -C /home/{{ main_username }}/ hass_docker_beta
sudo tar -cvf /mnt/Backup/docker.tar.gz -C /home/{{ main_username }}/ docker

find /mnt/Backup -mtime +3 -type f -delete