#!/bin/bash

#### Nextcloud Backup
# Turn on Maintenance Mode
docker exec --user www-data Nextcloud php occ maintenance:mode --on

# Backup DB
yesterday=$(date -d "$date -1 days" +"%Y_%m_%d")
mv /mnt/Backup/db_backups/nextcloud/nextcloudDB.sql /mnt/Backup/db_backups/nextcloud/nextcloudDB_$yesterday.sql
docker exec nextcloud-db sh -c 'exec mysqldump --single-transaction -h localhost -u {{ main_username }} -p{{ secret_nextcloud_db_pass }} nextcloud' > /mnt/Backup/{{hostname}}/db_backups/nextcloud/nextcloudDB.sql

# Turn off Maintenance Mode
docker exec --user www-data Nextcloud php occ maintenance:mode --off

#### Bitwarden DB Backup
yesterday=$(date -d "$date -1 days" +"%Y_%m_%d")
mv /mnt/Backup/db_backups/bitwarden/bitwardenDB.sql /mnt/Backup/db_backups/bitwarden/bitwardenDB_$yesterday.sql
docker exec bitwarden-db sh -c 'exec mysqldump --single-transaction -h localhost -u bitwarden -p{{ secret_bitwarden_db_pass }} bitwarden_rs' > /mnt/Backup/{{hostname}}/db_backups/bitwarden/bitwardenDB.sql

#### Wallabag Backup
yesterday=$(date -d "$date -1 days" +"%Y_%m_%d")
mv /mnt/Backup/db_backups/wallabag/wallabagDB.sql /mnt/Backup/db_backups/wallabag/wallabagDB_$yesterday.sql
docker exec wallabag-db sh -c 'exec mysqldump --single-transaction -h localhost -u root -p{{ secret_wallabag_db_pass }} symfony' > /mnt/Backup/{{hostname}}/db_backups/wallabag/wallabagDB.sql

#### Hass Backup
yesterday=$(date -d "$date -1 days" +"%Y_%m_%d")
mv /mnt/Backup/db_backups/hass/hassDB.sql /mnt/Backup/db_backups/hass/hassDB_$yesterday.sql
docker exec HASS-db sh -c 'exec mysqldump --single-transaction -h localhost -u hass -p{{ secret_hass_db_pass }} homeassistant' > /mnt/Backup/{{hostname}}/db_backups/hass/hassDB.sql

#### Delete Old

find /mnt/Backup/{{hostname}}/db_backups/ -mtime 7 -type f -delete